.App {
  text-align: center;
}

.navbar {
  background: green;
  color: white;
}

.main-content {
  background: lightseagreen;
}

.countryTable {
  background: rgb(172, 235, 247);
  width: 500px;
  margin: 20px auto 0 auto;
  /* border: 10px; */
}